:root {
    --blanco: #e0e0e0;
    --blanco-2: rgba(255, 255, 255, .2);
    --negro: #181818;
    --negro-5: rgba(0, 0, 0, 0.5);
    --negro-7: rgba(0, 0, 0, 0.75);
    --tipo_titular: 'Playfair Display',
        serif;
    --tipo_principal: 'Inter',
        sans-serif;
}

@media screen and (prefers-color-sheme:dark){
:root {
    --blanco: #181818;
    --blanco-2: rgba(0, 0, 0, .2);
    --negro: #e0e0e0;
    --negro-5: rgba(255, 255, 255, 0.5);
    --negro-7: rgba(255, 255, 255, 0.75);
    }
}

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
}

img,picture,video,iframe,figure {
    max-width: 100%;
    width: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    cursor: none;
}

p a {
    display: inline;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6,p,span,a,strong,blockquote,i,b,u,em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
}

form,input,textarea,select,button,label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
table,tr,td {
    border-collapse: collapse;
    border-spacing: 0;
}

svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

body {
    font-family: var(--tipo-principal);
    font-size: 100%;
    min-height: 100vh;
    background-color: var(--negro);
    color: var(--blanco);
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: none;
}


/* FIN DEL RESET */


.circulos {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;    
    filter: blur(80px);
    animation: circulo1 30s linear infinite both;
}

.circulos .circulo {
    position: absolute;
    width: 70%;
    height: 70%;
    animation: circulo1 30s linear infinite both;
}
.circulos .circulo1 {
    top:0%;
    left:0%;
}
.circulos .circulo1 .path{
    fill: #e63946;
}
.circulos .circulo2 {
    top: 0%;
    right: 0%;
}
.circulos .circulo2 .path {
    fill: #f1faee;
}
.circulos .circulo3 {
    bottom: 0%;
    left: 0%;
}
.circulos .circulo3 .path {
    fill: #a8dadc;
}
.circulos .circulo4 {
    bottom: 0%;
    right: 0%;
}
.circulos .circulo4 .path {
    fill: #457b9d;
}



.header{
    width: 100%;
    min-height: 5em;
    background-color: rgba(0, 0, 0, 0.9);

    padding: 1em 2em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 2;


}
@media screen and (min-width: 330px) and (max-width: 680px) {
    .header {
        display: none;
    }
}
.header .ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.header .li{
    margin: 0 1em;
}


.main{
    background: var(--negro-7);
    text-align: center;
    position: relative;
    z-index: 2;
}

.seccion{
    width: 100%;
    min-height: 80vh;
    padding: 2em;

    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}
.seccion .info {
    font-size: 1.2em;
    animation: aparecer1 2s ease 1 both;
}

.seccion .ul{
    /* background: red; */
    margin: 2em 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.seccion .ul .li{
    margin: 0 1em;
}
.seccion .ul .a{
    border: 1px solid var(--blanco-2);
    border-radius: 50%;

    padding: 1em 1em 1em;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    animation: aparecer1 2s ease 1 backwards;
}

.seccion .ul>:nth-child(2) .a{
    animation-delay: 0.2s;
}
.seccion .ul .a:hover{
border-color: var(--blanco);
background: var(--blanco);
color: var(--negro);
}
.seccion .h2{
    font-family: var(--tipo_titular);
    font-weight: 600;
    font-size: 5em;
    line-height: 1em;
    color: var(--blanco);
    mix-blend-mode: exclusion;
}

.seccion .h3{
    font-family: var(--tipo_titular);
    font-size: 3.5em;
}


.seccion .worksGrid{
    /* width: 90%;
    max-width: 50em; */
    margin: 1em 0;
    display: flex;
    gap: 1em;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.seccion .article{
    width: 100%;
    max-width: 20em;
    min-height: 20vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;

    border-radius: 1em;
}

.seccion .h4{
    width: 100%;
    height: 100%;
    padding: 0.5em 0;
    background-color: var(--negro-5);
    backdrop-filter: blur(1rem);
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    color:white ;
    font-size: 1.8em;
    font-family: var(--tipo_titular);

    opacity: 0;
    transform: translateZ(1) scale(1.2);
    transition: all .5s ease;
}
.seccion .article:hover .h4{
    opacity: 1;
    transform: translateZ(1) scale(1);
}
.seccion .img {
    border-radius: 1em;
    min-height: 15em;
}
.workButtons{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: end;

    background: var(--negro-5);
    color: white;
    font-size: 1em;
    font-family: var(--tipo_titular);

    opacity: 0;
    transform: translateZ(1) scale(1.2);
    transition: all .5s ease;
}
.workButtons:hover{
    opacity: 1;
    transform: translateZ(1) scale(1);
}
.workButton{
    margin: 0.5em;
    padding: 0.6em;
    font-family: var(--tipo-principal);
    border: 1px solid rgba(230, 230, 230, 0.3);
    border-radius: 0.5em;
    box-shadow: 0px 2px 5px 0px rgba(0, 255, 255, 0.7);
}
.workButton:hover{
    box-shadow: 0px 5px 10px 2px rgba(0, 255, 255, 0.7);
}

.workTitleMobile{
    display: none;
}
.workButtonsMobile{
    display: none;
}
.works{
    color: white;
}
.works .h2{
    margin: 0 0 1rem;
    color: inherit;
}
.works .p{
    margin: 2rem;
    color: inherit;
    line-height: 2em;
}

.about .h2{
    margin: 0 0 2rem;
}
.about .p{
    max-width: 40rem;
    margin: 0 0 2rem;
    font-size: 1.1em;
    text-align: left;
}
.aboutRow{
display: flex;
flex-direction: row;
align-items: center;
}
.aboutColumn{
    margin: 1em;
    padding: 1em;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.about .foto{

    border-radius: 1em;
}

.contact .p{
    margin: 2em;
}
.phone{
    color:#3395d1;
    margin: 0.5em;
    font-size: 2.2rem;
    font-family: var(--tipo-principal);
}
.contact .form {
    background: var(--blanco-2);
    width: 50%;
    margin: 2em 0;
    padding: 1em 0;
    border-radius: 4%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact .input {
    width: 80%;
    margin: 1em;
    padding: 1em;

    border-bottom: 1px solid var(--blanco);
}

.contact .input::placeholder {
    color: var(--blanco);
    font-family: var(--tipo-principal);
}

.contact .textarea {
    width: 80%;
    margin: 1em;
    padding: 1em;

    border-bottom: 1px solid var(--blanco);
}
.contact .textarea::placeholder {
    color: var(--blanco);
    font-family: var(--tipo-principal);
}

.contact .send{
    width: 50%;
    font-size: 1.2em;
    background-color: var(--blanco-2);
    color: black;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}
.contact .rrss {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}

.contact .li {
    margin: 0 1em;
}

.contact .svg {
    width: 3em;
    height: 3em;
}

.footer{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 2em 0;
    text-align: center;
    color: var(--blanco);
    position: relative;
    z-index: 2;
}




@keyframes circulo1 {
    form {
        transform: rotate(0deg) scale(2);
    }

    to {
        transform: rotate(365deg) scale(3);

    }
}

@keyframes aparecer1 {
    from{
        opacity: 0;
        transform: translateY(50%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

#cursor{
    width: 4em;
    height: 4em;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
    border-radius: 50%;
    mix-blend-mode: difference;
}
#cursor.mini{
    transform: scale(0.7);
}


@media screen and (min-width: 300px) and (max-width: 550px) {
    #cursor{
        display: none;
    }
    .seccion .ul .a {
            margin: 0.2em 0;
    }
    .seccion .h2 {
        font-size: 3em;
    }
    .seccion .h3 {
        font-size: 1.5em;
    }
    .workTitleMobile {
        display: block;
        margin: 1em 0;
    }
    .workButtonsMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5em 0;
        font-family: var(--tipo_titular);
    }
    .aboutRow {
        flex-direction: column;
    }
    .aboutColumn {
        width: 100%;
    }
    .phone{
        margin:0.1em ;
    }
    .contact .form{
        width: 100%;
    }

}

@media screen and (min-width: 550px) and (max-width: 1200px) {
    #cursor {
        display: none;
        }
    .seccion .ul .a {
        margin: 0.2em 0;
        }
    .workTitleMobile {
        display: block;
        margin: 1em 0;
    }
    .workButtonsMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5em 0;
        font-family: var(--tipo_titular);
    }
    .aboutRow{
        flex-direction: column;
    }
    .aboutColumn{
    width: 100%;
    }
    .phone {
    margin: 0.1em;
    }
    .contact .form {
    width: 100%;
    }
}