:root {
    --blanco: #e0e0e0;
    --blanco-2: rgba(255, 255, 255, .2);
    --negro: #181818;
    --negro-5: rgba(0, 0, 0, 0.5);
    --negro-7: rgba(0, 0, 0, 0.75);
    --tipo_titular: 'Playfair Display',
        serif;
    --tipo_principal: 'Inter',
        sans-serif;
}

@media screen and (prefers-color-sheme:dark){
:root {
    --blanco: #181818;
    --blanco-2: rgba(0, 0, 0, .2);
    --negro: #e0e0e0;
    --negro-5: rgba(255, 255, 255, 0.5);
    --negro-7: rgba(255, 255, 255, 0.75);
    }
}

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
}

img,picture,video,iframe,figure {
    max-width: 100%;
    width: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    cursor: none;
}

p a {
    display: inline;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6,p,span,a,strong,blockquote,i,b,u,em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
}

form,input,textarea,select,button,label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
table,tr,td {
    border-collapse: collapse;
    border-spacing: 0;
}

svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

body {
    font-family: var(--tipo-principal);
    font-size: 100%;
    min-height: 100vh;
    background-color: var(--negro);
    color: var(--blanco);
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: none;
}


/* FIN DEL RESET */


.circulos {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;    
    filter: blur(80px);
    animation: circulo1 30s linear infinite both;
}

.circulos .circulo {
    position: absolute;
    width: 70%;
    height: 70%;
    animation: circulo1 30s linear infinite both;
}
.circulos .circulo1 {
    top:0%;
    left:0%;
}
.circulos .circulo1 .path{
    fill: #e63946;
}
.circulos .circulo2 {
    top: 0%;
    right: 0%;
}
.circulos .circulo2 .path {
    fill: #f1faee;
}
.circulos .circulo3 {
    bottom: 0%;
    left: 0%;
}
.circulos .circulo3 .path {
    fill: #a8dadc;
}
.circulos .circulo4 {
    bottom: 0%;
    right: 0%;
}
.circulos .circulo4 .path {
    fill: #457b9d;
}

.main{
    background: var(--negro-7);
    text-align: center;
    position: relative;
    z-index: 2;
    min-height: 50vw;
}

.footer{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 2em 0;
    text-align: center;
    color: var(--blanco);
    position: relative;
    z-index: 2;
}


@keyframes circulo1 {
    form {
        transform: rotate(0deg) scale(2);
    }

    to {
        transform: rotate(365deg) scale(3);

    }
}

@keyframes aparecer1 {
    from{
        opacity: 0;
        transform: translateY(50%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

#cursor{
    width: 4em;
    height: 4em;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
    border-radius: 50%;
    mix-blend-mode: difference;
}
#cursor.mini{
    transform: scale(0.7);
}


@media screen and (min-width: 300px) and (max-width: 550px) {
    #cursor{
        display: none;
    }
    .seccion .ul .a {
            margin: 0.2em 0;
    }
    .seccion .h2 {
        font-size: 3em;
    }
    .seccion .h3 {
        font-size: 1.5em;
    }
    .workTitleMobile {
        display: block;
    }
    .aboutRow {
        flex-direction: column;
    }
    .aboutColumn {
        width: 100%;
    }
    .phone{
        margin:0.1em ;
    }
    .contact .form{
        width: 100%;
    }
    .main{
        height: 180vw;
    }
    .btn{
        margin: 1.2em;
    }

}

@media screen and (min-width: 550px) and (max-width: 1000px) {
    #cursor {
            display: none;
        }
    .seccion .ul .a {
            margin: 0.2em 0;
        }
    .workTitleMobile {
            display: block;
    }
    .aboutRow{
        flex-direction: column;
    }
    .aboutColumn{
        width: 100%;
    }
    .phone {
        margin: 0.1em;
    }
    .contact .form {
        width: 100%;
    }
    .main {
        height: 120vw;
    }
    .btn {
        margin: 1.2em;
    }
}