

header{
    /* width: 100%; */
    min-height: 5em;
    background: lightblue ;

    padding: 1em 2em;

    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}
.header .h1{
}
.header .h1 .a {}
.header .nav {
}
.header .ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.header .li{
    margin: 0 1em;
}
.header .li .a{}

.main{
    background: lightgrey;
    margin: 1em;
}

.section{}
.section .circulos{}
.section .circulo{}
.section .h2{}
.section .h3{}


.section .p{}
.section .grid{}
.section .article{}
.section .a{}
.section .figure{}
.section .h4{}

.about{}
.about .h2{}
.about .p{}
.about .rrss{}
.about .li{}
.about .a{}
.about .svg{}